<main class="blog-boi blog edit">

	<div class="bg-primary">
		
		<div class="container">
			
			<div class="row">
				
				<div class="col-12 mb-neg-md-125-sm-50 text-center">
					
					<% if @article.image.attached? %>

						<%= image_tag main_app.url_for(@article.image), class: 'mw-100 rounded' %>

					<% end %>

				</div>

			</div>

		</div>

	</div>

	<div class="container mt-md-125-sm-50">
		
		<div class="row">

			<div class="col-12 col-md-10 col-lg-7 mx-auto text-center mt-4">

				<div>
					<%= render partial: 'category', collection: @article.categories %>
				</div>

				<h1 class="mb-0 mt-3">
				  <%= @article.title %>
				</h1>

				<div class="mt-3 text-muted">
				  <%= @article.author.name %>, 
				  <%= @article.updated_at.strftime("%B %e, %Y") %>
				</div>

				<%= render 'article_body' %>

				<% if is_admin %>

					<div class="mt-5">
						
						<%= link_to 'Edit', edit_article_path(@article) %> |
						<%= link_to 'Back', articles_path %>
						
					</div>

				<% end %>

			</div>

		</div>

	</div>

</main>
