<% if @article.image %>
	
	<%= image_tag main_app.url_for(@article.image), class: 'mw-100' %>

<% end %>

<p>
  <b>Author:</b>
  <%= @article.author.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>


<h3>Comments</h3>

<%= render @article.comments %>

<%= render "blog_boi/comments/form" %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
