<title>
	<%= @meta_tags[:title] || company_name + ' Blog' %>		
</title>
<meta property="og:title" content="<%= @meta_tags[:title] || blog_seo_title %>" />

<meta name="description" content="<%= @meta_tags[:description] || blog_seo_description %>" />
<meta property="og:description" content="<%= @meta_tags[:description] || blog_seo_description %>" />

<meta property="og:site_name" content="<%= company_name %>" />
<meta property="og:type" content="article">

<meta property="og:image" content="<%= @meta_tags[:image] %>"/>