<!DOCTYPE html>
<html>
<head>
 <%= render 'layouts/blog_boi/head_meta_tags' %>

  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "blog_boi/application", media: "all" %>
  <%= stylesheet_link_tag "bootstrap_customizer", media: "all" %>
  <%= javascript_include_tag "blog_boi/application" %>
</head>
<body>

	<%= render 'layouts/blog_boi/header' %>

	<%= yield %>

	<%= render 'layouts/blog_boi/footer' %>
</body>
</html>
